<header class="navbar navbar-fixed-top navbar-inverse">
  		<div class="container">
  			<%= link_to 'Memo App', root_path, id:'logo' %>
  			<nav>
  				<%# TODO Navigation bar completion%>
  				<ul class="nav navbar-nav navbar-right">
  					<li><%= link_to 'New Memo', new_memo_path %></li>
  					<li><%= link_to 'Home', root_path %><</li>
            <% if user_signed_in? %>
              <li><%= link_to 'LogOut', destroy_user_session_path, method: :delete %><</li>
            <% else %>
              <li><%= link_to 'LogIn', new_user_session_path %><</li>
            <% end %>
  					
  				</ul>
  			</nav>
  		</div>
  	</header>